<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jambala</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'market/css/bootstrap.min.css' %}">
  </head>
  <body>
    {% block main %}{% endblock %}
    <script src="{% static 'market/js/jquery.min.js' %}"></script>
    <script src="{% static 'market/js/tether.min.js' %}"></script>
    <script src="{% static 'market/js/bootstrap.min.js' %}"></script>
  </body>
</html>
