{% extends "./base.html" %}
{% load render_bundle from webpack_loader %}
{% block main %}
<div id="Market"></div>
<div class="container-fluid">
  <h1>Jambala</h1>
  <form method="post">
    <fieldset class="form-group">
      <label for="start_date">Start Date:</label>
      <input type="text" name="start_date" id="start_date" class="form-control">
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br />
  {{ data_table | safe }}
</div>
{% render_bundle 'vendors' %}
{% render_bundle 'Market' %}
{% endblock %}
